.AttackModifierCard--Container+.AttackModifierCard--Container {
    margin-top: 4px;
}

.AttackModifierCard--ImageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.AttackModifierCard--Image {
    max-width: 200px;
    display: block;
}

.AttackModifierCard--MonsterCover {
    position: absolute;
    top: 103px;
    left: 12px;
    background-image: url("./deck_player_cover.png");
    background-size: contain;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.AttackModifierCard--ExtraIcon {
    position: absolute;
    top: 52px;
    left: 8px;
    height: 36px;
    width: 36px;
}

.AttackModifierCard--RollingIcon {
    position: absolute;
    top: 52px;
    left: 154px;
    height: 36px;
    width: 36px;
}

.AttackModifierCard--CustomCard {
    position: relative;
}

.AttackModifierCard--MainIcon {
    position: absolute;
    top: 20px;
    left: 53px;
    height: 93px;
    width: 93px;
    border-radius: 50%;
}

.AttackModifierCard--MainIcon--Value {
    position: absolute;
    font-family: "PirataOne";
    color: rgb(232, 230, 231);
    top: 76px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.AttackModifierCard--CustomExtra--Container {
    position: absolute;
    font-family: "PirataOne";
    border: 1px solid white;
    top: 50px;
    left: 3px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.AttackModifierCard--CustomExtra {
    position: relative;
}

.AttackModifierCard--CustomExtra--Icon {
    position: absolute;
    top: 2px;
    left: 0;
    height: 24px;
    width: 100%;
}

.AttackModifierCard--CustomExtra--Value {
    position: absolute;
    top: 8px;
    /* left: 4px; */
    width: 100%;
    font-size: 14px;
}

.AttackModifierCard--CustomExtra--SelfText {
    position: absolute;
    top: 26px;
    width: 100%;
    color: white;
    font-size: 10px;
}

.AttackModifierCard--PlusThree {
    font-family: "PirataOne";
    color: rgb(232, 230, 231);
    background-image: radial-gradient(closest-corner at 34px 22px, rgba(240, 241, 212, 0.3) 0px, rgba(181, 217, 145, 0.7) 22px, rgba(80, 137, 65, 0.8) 50px, transparent 150px);
    text-shadow: 1px 1px rgb(50, 64, 25), -1px -1px rgb(50, 64, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.AttackModifierCard--GreenColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(103, 151, 68, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--PlusThree--Plus {
    padding-bottom: 3px;
    padding-left: 3px;
    margin-right: -5px;
}

.AttackModifierCard--PlusThree--Three {
    margin-right: 11px;
    margin-top: 6px;
}

.AttackModifierCard--ColorCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.AttackModifierCard--AirColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(152, 176, 181, 0.8) 50px, transparent 100%);
}

.AttackModifierCard--DarkColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(33, 41, 49, 0.8) 50px, transparent 100%);
}

.AttackModifierCard--FireColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(227, 66, 31, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--EarthColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(125, 168, 42, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--IceColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(86, 200, 239, 0.5) 50px, transparent 100%);
}

.AttackModifierCard--LightColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(236, 166, 16, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--DisarmColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(98, 116, 122, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--DisarmColor {
    background-color: rgba(152, 176, 181, 0.8);
}

.AttackModifierCard--ImmobilizeColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(153, 40, 45, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--ImmobilizeColor {
    background-color: rgba(153, 40, 45, 0.6);
}

.AttackModifierCard--InvisibleColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(25, 23, 21, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--InvisibleColor {
    background-color: rgba(25, 23, 21, 0.6);
}

.AttackModifierCard--MuddleColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(105, 78, 59, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--MuddleColor {
    background-color: rgba(105, 78, 59, 0.6);
}

.AttackModifierCard--PoisonColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(116, 124, 94, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--PoisonColor {
    background-color: rgba(116, 124, 94, 0.6);
}

.AttackModifierCard--StrengthenColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(89, 150, 214, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--StrengthenColor {
    background-color: rgba(89, 150, 214, 0.6);
}

.AttackModifierCard--StunColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(46, 64, 103, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--StunColor {
    background-color: rgba(46, 64, 103, 0.6);
}

.AttackModifierCard--WoundColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(230, 80, 29, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--WoundColor {
    background-color: rgba(230, 80, 29, 0.6);
}

.AttackModifierCard--PierceColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(199, 130, 62, 0.6) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--PierceColor {
    background-color: rgba(199, 130, 62, 0.8);
}

.AttackModifierCard--AddTargetColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(169, 28, 34, 0.8) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--AddTargetColor {
    background-color: rgba(169, 28, 34, 0.8);
}

.AttackModifierCard--AddTargetColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(206, 45, 45 0.8) 50px, transparent 100%);
}

.AttackModifierCard--HealColor {
    background-color: rgb(206, 45, 45);
}

.AttackModifierCard--ShieldColor {
    background-color: rgb(150, 83, 56);
}

.AttackModifierCard--MainIcon--PierceValue {
    position: absolute;
    font-family: "PirataOne";
    color: white;
    font-size: 24px;
    background-color: rgba(199, 130, 62, 1);
    top: 52px;
    left: 76px;
    padding-left: 2px;
    padding-right: 2px;
}

.AttackModifierCard--PushColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(72, 72, 74, 0.8) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--PushColor {
    background-color: rgba(72, 72, 74, 0.8);
}

.AttackModifierCard--PullColor {
    background-image: radial-gradient(circle, transparent 40px, rgba(72, 72, 74, 0.8) 50px, transparent 100%);
}

.AttackModifierCard--MainIcon--PullColor {
    background-color: rgba(72, 72, 74, 0.8);
}

.Deck--Card--Container {
    border: 1px solid black;
    width: 200px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.Deck--Card--MostRecent {
    background-color: rgb(214, 163, 104);
}

.Deck--Card--Shuffle {
    background-color: rgb(230, 88, 22);
}

.Deck--Card--Discard {
    border: 4px solid rgb(170, 67, 211);
}

.Deck--Card--EndActionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.Deck--Card--EndAction {
    height: 1.5rem;
    width: 1.5rem;
}

.Deck--Card--EndActionShuffle {
    background-color: black;
    border-radius: 50%;
}

.AttackModifierCard--UndoCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    user-select: none;
    opacity: 0;
}

.AttackModifierCard--UndoCover:hover {
    opacity: 1;
}
