.Deck--Card--Container {
    border: 1px solid black;
    width: 250px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.Deck--Card--MostRecent {
    background-color: rgb(214, 163, 104);
}

.Deck--Card--Shuffle {
    background-color: rgb(230, 88, 22);
}

.Deck--Card--Discard {
    border: 4px solid rgb(170, 67, 211);
}

.Deck--Card--EndActionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.Deck--Card--EndAction {
    height: 1.5rem;
    width: 1.5rem;
}

.Deck--Card--EndActionShuffle {
    background-color: black;
    border-radius: 50%;
}

.Deck--Card--UndoCover {
}

.Deck--Card--UndoCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    user-select: none;
    opacity: 0;
}

.Deck--Card--UndoCover:hover {
    opacity: 1;
}
