.Deck {
    text-align: center;
    margin-right: 16px;
}

.Deck--MonsterPlaceholder {
    height: 17.5px;
}

.Deck--Class {
    font-size: 0.75rem;
    color: purple;
}

.Deck--Perks--Button {
    margin-left: 2px;
}

.Deck--CardsLeft {
    font-size: small;
}

.Deck--AddCards--Container {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.Deck--AddCards--Button {
    display: flex;
}

.Deck--AddCards--Image {
    height: 18px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
}

.Deck--Shuffle {
    margin-left: 2px;
    background-color: black;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    opacity: 0;
    vertical-align: middle;
}

.Deck--WillShuffle {
    opacity: 1;
}

.Deck--Button--Container {
    text-align: center;
}

.Deck--Button {
    padding: 12px;
    margin: 12px;
    background-color: inherit;
}

.Deck--CardBack {
    max-width: 200px;
    border-radius: 16px;
    display: block;
    margin-bottom: 8px;
    box-shadow: 4px 4px 4px grey;
}

.Deck--PlayedCards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
    opacity: 1;
    /*
        can't use % for height transitions :(
        hard code pixels to 6 cards (6 * (card height + 4px margin) - 4px last margin)
    */
    max-height: 833px;
}

.Deck--RemainingCards {
    position: relative;
    margin-top: 4px;
    overflow: hidden;
    /*
        can't use % for height transitions :(
    */
    max-height: 135.5px;
    transition: max-height 2s cubic-bezier(0.2, 1, 1, 1);
}

.Deck--RemainingCards:hover {
    /*
        can't use % for height transitions :(
        cap at 60 cards
    */
    max-height: 8366px;
    transition: max-height 3s ease-in;
}

.Deck--RemainingCards--Cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    border-radius: 16px;
}

.Deck--RemainingCards--CoverText {
    margin-top: 64px;
}

.Deck--DiscardingCards {
    overflow: hidden;
    opacity: 0;
    /*
        can't use % for height transitions :(
    */
    max-height: 0;
    transition: max-height 1.2s ease-out, opacity 2.5s ease-out;
}

.Deck--DiscardingCards--Cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:100%; height:100%;
    top:0; left:0;
    background-color:rgba(0,0,0,0.6);
    color: white;
    transition: all 0.1s;
    border-radius: 16px;
}
