.BonusSelectors--Container {
    display: flex;
    justify-content: center;
}

.BonusSelectors--Selector {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.BonusSelectors--Icon {
    height: 16px;
    width: 16px;
    background: black;
    /*border-radius: 50%;*/
    padding: 4px;
}
