.AddPlayer--container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-top: 12px;

    width: 227px;
}

.AddPlayer--element {
    margin-top: 12px;
}

.AddPlayer--playerName {
    height: 40px;
    font-size: 32px;
    text-align: center;
}

.AddPlayer--duplicateNameWarning {
    color: red;
    font-size: small;
}

.AddPlayer--selectors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AddPlayer--button {
    height: 40px;
    font-size: 28px;

    background-color: rgba(148, 13, 13, 1);
    color: white;
    font-family: "PirataOne";
    border-radius: 4px;
    border: 1px solid black;
}

.AddPlayer--button:hover {
    background-color: rgb(107, 10, 10);
    transition: 0.4s background-color;
}

.AddPlayer--button--disabled {
    opacity: 0.5;
}
