.PerksModal--Title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.PerksModal--Perks {
    margin-top: 24px;
    margin-bottom: 24px;
}

.PerksModal--Perk {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 4px;
    text-align: left;
}

.PerksModal--perk--checkbox {
    font-size: 16px;
}

.PerksModal--CardIcon {
    height: 1.5rem;
    margin-left: 0.5rem;
    border-radius: 4px;
}

.PerksModal--MinusOne--Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    font-family: "PirataOne";
    font-size: 40px;
}

.PerksModal--ItemIcon {
    margin-right: 1rem;
    height: 4rem;
    border: 1px solid brown;
    border-radius: 4px;
}

.PerksModal--MinusOne--Select {
    margin-left: 1rem;
    font-family: "PirataOne";
    font-size: 40px;
}


.PerksModal--Buttons--Description {
    text-align: end;
    font-size: x-small;
    color: goldenrod;
}

.PerksModal--Buttons--Container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.test {
                top:112px;
                left:50%;
                margin-left: -32%;
                position:absolute;
                width:60%;
            }