.Monster--Card {
    margin-bottom: 8px;
    position: relative;
    width: 250px;
    height: 170px;
    border-radius: 16px;
    background-image: url("./card.jpg");
    background-size: contain;
    color: white;
    font-family: "SakkalMajalla";
}

.Monster--Card--Name {
    font-family: "PirataOne";
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    text-align: center;
}

.Monster--Card--Initiative {
    position: absolute;
    top: 37px;
    left: 18px;
    display: inline;
    font-family: "PirataOne";
}

.Monster--Card--Actions {
    position: absolute;
    top: 40px;
    left: 18px;
    width: 216px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    font-weight: 900;
    line-height: 1;
}

.Monster--Card--ActionsSubtext {
    font-size: small;
}

.Monster--Card--EndAction {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 140px;
    left: 220px;
}

.Card--Image {
    width: 48px;
    /*
    height: 48px;
    */
    padding-left: 8px;
}

.Card--ElementUsage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.Card--Element {
    min-width: 24px;
    height: 24px;
}

.Card--Element--Icon {
    padding-left: 2px;
    padding-right: 2px;
}

.Card--Element--Used {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.Card--Element--UsedElement {
    position: absolute;
    top: 0;
    left: 0;
}

.Card--Element--UsedOverlay {
    position: absolute;
    top: 0;
    left: 0;
}

.Card--Element--Separator {
    display: flex;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
}
