.Monsters--Card {
    border: 1px black solid;
    margin: 4px;
}

.Monsters--Card--MostRecent {
    background-color: rgb(214, 163, 104);
}

.Monsters--Card--Shuffle {
    background-color: rgba(230, 88, 22, 0.726);
}