.Monsters--Deck--Container {
    margin-right: 8px;
}

.Monsters--Deck--Name {
    text-align: center;
}

.Monsters--Deck--Stats {
    width: 250px;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 4px;
}

.Monsters--Deck--CardBack {
    position: relative;
    margin-bottom: 8px;
}

.Monsters--Deck--CardBackImage {
    max-width: 250px;
    border-radius: 16px;
    display: block;
    box-shadow: 4px 4px 4px grey;
}

.Monsters--Deck--InactiveCover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.Monsters--Deck--CardBackName {
    font-family: "PirataOne";
    font-size: large;
    color: white;
    position: absolute;
    top: 122px;
    left: 0;
    width: 100%;
    text-align: center;
}