.Monsters--Deck {
    text-align: center;
}

.Monsters--Deck--CardBack {
    width: 200px;
    margin: 12px;
}

.Monsters--Deck--PlayedCards {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}