.MonsterDecks--Header--Button {
    height: 64px;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: inherit;
}

.MonsterDecks--Header--ButtonReady {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0%, 100% {
      background-color: rgb(28, 119, 255);
    }
    30%, 40% {
      background-color: rgb(30, 255, 255);
    }
}

.MonsterDecks {
    display: flex;
    flex-wrap: wrap;
}

.MonsterDecks--Deck {
    position: relative;
}
