.ElementTracker {
    display: flex;
    flex-wrap: wrap;
}

.ElementTracker--Column {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

.ElementTracker--Column {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.ElementTracker--Element {
    min-width: 24px;
    height: 24px;
}

.ElementTracker--ElementContainer {
    margin-left: 4px;
}

.ElementTracker--Element--Inactive {
    opacity: 0;
}

.ElementTracker--Element--Border {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;
}

.ElementTracker--Element--BorderInert {
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.ElementTracker--Element--BorderWaning {
    /*border: 1px solid goldenrod;*/
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.ElementTracker--Element--BorderStrong {
    /*border: 1px solid gold;*/
    border: 1px solid white;
}

.ElementTracker--Element--Inert {
    opacity: 0.35;
}

.ElementTracker--Element--Waning {
    opacity: 0.70;
}

.ElementTracker--Element--Strong {
    opacity: 1;
}

@media (max-width: 450px) {
    .ElementTracker {
        max-width: 297px;
    }

    .ElementTracker--Column:nth-of-type(3n+1) {
        border-right: 1px solid black;
    }
}

