.MonsterTracker--Container {
    margin-right: 12px;
}

.MonsterTracker {
    margin-bottom: 8px;
    border: 1px solid black;
    width: 260px;
    box-sizing: border-box;
}

.MonsterTracker--Name {
    text-align: center;
}

.MonsterTracker--StatsContainer {
    display: flex;
    background: rgb(185, 130, 57);
    color: white;
}

.MonsterTracker--Boss--StatsContainer {
    background: rgb(148, 13, 13);
    color: white;
}

.MonsterTracker--StatusEffects--ToggleAll {
    /* 2px margin + 1px border + 2px padding */
    margin-left: 5px;
}

.MonsterTracker--Monster {
    position: relative;
}

.MonsterTracker--Boss--Cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MonsterTracker--MonsterSelectors {
    display: flex;
}

.MonsterTracker--MonsterSelector {
    flex: auto;
}

.MonsterTracker--MonsterSelector--Alive {
    font-weight: 800;
}

.MonsterTracker--Monster--Controls {
    display: flex;
}

.MonsterTracker--Monster--Number {
    font-weight: 900;
    padding-left: 4px;
    padding-right: 12px;
}
