.Deck {
    text-align: center;
}

.Deck--NeedsShuffle {
    background-color: rgb(230, 88, 22);
}

.Deck--Button {
    padding: 12px;
    background-color: inherit;
}

.Deck--Button--NeedsShuffle {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0%, 100% {
      background-color: rgb(28, 119, 255);
    }
    30%, 40% {
      background-color: rgb(30, 255, 255);
    }
 }

.Deck--CardBack {
    width: 200px;
    margin: 12px;
}

.Deck--PlayedCards {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}