.Deck {
    text-align: center;
    margin: 8px;
}

.Deck--Name--Monsters {
    margin-bottom: 1rem;
}

.Deck--Class {
    font-size: 0.75rem;
    color: purple;
}

.Deck--Perks {
    max-width: 250px;
    margin-bottom: 4px;
}

.Deck--Perk {
    display: flex;
    justify-content: flex-start;
    border: 1px dashed black;
    margin-bottom: 4px;
    text-align: left;
}

.Deck--NeedsShuffle {
    background-color: rgb(230, 88, 22);
}

.Deck--Button--Container {
    text-align: center;
}

.Deck--Button {
    padding: 12px;
    margin: 12px;
    background-color: inherit;
}

.Deck--CardBack {
    max-width: 250px;
}

.Deck--PlayedCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}