.Deck--Card {
    border: 1px solid black;
    margin: 4px;
}

.Deck--Card--MostRecent {
    background-color: rgb(214, 163, 104);
}

.Deck--Card--Reshuffle {
    background-color: rgb(230, 88, 22);
}

.Deck--Card--Discard {
    border: 4px solid rgb(170, 67, 211);
}