.Deck--Card {
    border: 1px solid black;
    margin: 4px;
}

.Deck--Card--MostRecent {
    background-color: rgb(214, 163, 104);
}

.Deck--Card--Reshuffle {
    background-color: rgba(230, 88, 22, 0.726);
}

.Deck--Card--Discard {
    border: 1px solid rgba(170, 67, 211, 0.726);
}