/*

.Party--Load--Select {
    flex: auto;
    same width as input box default width
    max-width: 131px;
}
*/

.Party--Load--Container {
    display: flex;
    justify-content: flex-end;
}

.Party--Load--Select {
    width: 100%;
}
