.Game--Controls {
    margin: 20px;
    margin-top: 0px;
    padding: 12px;
    border: 1px solid black;
}

.Game--Players {
    margin-bottom: 8px;;
}

.Game--AttackModifierDecks {
    display: flex;
    flex-wrap: wrap;
}
