.Game--container {
    display: flex;
}

.Game--leftSection {
    flex: 0 1 0px;
    margin-left: 8px;
}

.Game--Section .Game--Section--Toggle {
    margin-top: 2px;
}

.Game--Section--Toggle {
    cursor: pointer;
    user-select: none;
}

.Game--Section--ToggleSymbol {
    /*
    width: 1rem;
    */
}

.Game--Section--hideSection {
    display: none;
}

.Game--Section--monsterList {
    /*
    margin-bottom: 16px;
    */
}

.Game--SpecialCardCount--Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.Game--SpecialCardCount {
    display: flex;
    align-items: center;
    margin-left: 6px;
    margin-right: 10px;
    font-size: x-large;
}

.Game--SpecialCardCount--Icon {
    height: 36px;
    margin-right: 0.25rem;
    border-radius: 4px;
}

.Game--Section {
    margin: 20px;
    padding: 12px;
    border: 1px solid black;
}

.Game--AttackModifierDecks {
    display: flex;
    flex-wrap: wrap;
}

.Game--Monsters--attackModifierDeckSelect {
    font-family: "PirataOne";
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    user-select: none;
}

.Game--Monsters--StatsToggleContainer {
    display: flex;
    margin-bottom: 12px;
}

.Game--Monsters--StatsToggle {
    font-family: "PirataOne";
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 8px;
    user-select: none;
}

.Game--Monsters--StatsToggle:not(:last-of-type) {
    border-right: 0;
}

.Game--select input[type="radio"]{
    opacity: 0;
    position: absolute;
}

.Game--select:not(.Game--select--active):hover {
    /*
    background-color: rgba(124, 31, 31, 0.6);
    */
    border-color: rgba(148, 13, 13, 1);
    color: rgba(148, 13, 13, 1);
}

.Game--select--active {
    background-color: rgba(148, 13, 13, 1);
    color: white;
    transition: 0.1s linear;
}

.Game--original {
    border: 1px solid black;
    overflow: hidden;
    opacity: 1;
    max-height: 100px;
}

.Game--test {
    opacity: 0;
    max-height: 0px;
    transition: opacity 3s linear, max-height 3s linear;
}
