.Game--Header {
    height: 36px;
    background-color: rgb(235, 159, 72);
    position: fixed;
}

.Game--Header--Content {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    width: 100%;
}

.Game--Header--EndTurn {
    height: 32px;
}

.Game--Header--HeightOffset {
    height: 36px;
}

.Game--Section {
    margin: 20px;
    padding: 12px;
    border: 1px solid black;
}

.Game--Players {
    margin-bottom: 8px;
}

.Game--AttackModifierDecks {
    display: flex;
    flex-wrap: wrap;
}
