.Game--Section--Toggle {
    cursor: pointer;
    user-select: none;
}

.Game--Section--ToggleSymbol {
    /*
    width: 1rem;
    */
}

.Game--Section--HidePlayers {
    display: none;
}

.Game--SpecialCardCount--Container {
    display: flex;
    align-items: center;
}

.Game--SpecialCardCount {
    display: flex;
    align-items: center;
    margin-left: 6px;
    margin-right: 10px;
    font-size: x-large;
}

.Game--SpecialCardCount--Icon {
    height: 36px;
    margin-right: 0.25rem;
    border-radius: 4px;
}

.Game--Section {
    margin: 20px;
    padding: 12px;
    border: 1px solid black;
}

.Game--DuplicatePlayerWarning {
    color: red;
    font-size: small;
}

.Game--Players {
    display: flex;
    justify-content: space-between;
}

.Game--AttackModifierDecks {
    display: flex;
    flex-wrap: wrap;
}

.Game--MonsterCards--TitleContainer {
    display: flex;
    align-items: center;
}

.Game--Monsters--StatsToggleContainer {
    margin-left: 12px;
}

.Game--Monsters--StatsToggle {
    font-family: "PirataOne";
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 8px;
    user-select: none;
}

.Game--Monsters--StatsToggle:first-of-type {
    border-right: 0;
}

.Game--Monsters--StatsToggleActive {
    background-color: rgba(148, 13, 13, 1);
    color: white;
    transition: 0.1s linear;
}

.Game--Monsters--StatsToggle:not(.Game--Monsters--StatsToggleActive):hover {
    /*
    background-color: rgba(124, 31, 31, 0.6);
    */
    border-color: rgba(148, 13, 13, 1);
    color: rgba(148, 13, 13, 1);
}

.Game--Monsters--StatsToggle input[type="radio"]{
    opacity: 0;
    position: absolute;
}

.Game--original {
    border: 1px solid black;
    overflow: hidden;
    opacity: 1;
    max-height: 100px;
}

.Game--test {
    opacity: 0;
    max-height: 0px;
    transition: opacity 3s linear, max-height 3s linear;
}
