body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h5 {
  margin-bottom: 8px;
}

@font-face {
  font-family: "PirataOne";
  src: url(./PirataOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "SakkalMajalla";
  src: url(./SakkalMajalla.ttf) format('truetype');
}
