.Action--Section {
    margin-bottom: 2px;
}

.ActionModifier--Container {
    display: flex;
}

.ActionModifier--Icon {
    height: 16px;
    width: 16px;
    margin-left: 2px;
    margin-right: 4px;
}

.Card--SubAction {
    font-size: 70%;
}

.ActionModifier--SubAction--Icon {
    height: 12px;
    width: 12px;
    margin-left: 2px;
    margin-right: 2px;
}

.ActionModifier--stats--elite {
    color: gold;
}
