.Action--Section {
    margin-bottom: 4px;
}

.ActionModifier--Icon {
    height: 16px;
    width: 16px;
    margin-left: 2px;
    margin-right: 2px;

    vertical-align: top;
}

.ActionModifier--SubAction--Icon {
    height: 12px;
    width: 12px;
    margin-left: 2px;
    margin-right: 2px;
}

.ActionModifier--stats--elite {
    color: gold;
}

.Card--Action {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: pre-wrap;
}

.Card--SubAction {
    font-size: 70%;
}

.Card--Action--inline {
    display: inline;
    font-size: inherit;
}
